# Archivos de entorno y secretos
.env
.env.local
*.env

# Docker
docker-compose.override.yml

# Dependencias / Builds según el lenguaje (C#, Python, Node, Go)
bin/
obj/
node_modules/
__pycache__/
*.pyc
dist/
build/

# IDEs y Editores
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs y Bases de datos locales
*.log
*.sqlite
pgdata/